* {
  outline: none;
  padding: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tahoma";
  background-color: #222;
}
h1 {
  text-align: center;
  font-size: 45px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -60px;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: column;

  #result {
    color: white;
    font-size: 20px;
  }

}
